@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Public+Sans:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.3rem;
}
* p {
  color: rgb(97, 96, 96);
  font-size: 0.96rem;
}
body {
  background: #f0efef;
}
.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.8rem;
}
.left-view {
  width: 71%;
}
.right-view {
  width: 21.55%;
}
.left-view,
.right-view {
  display: flex;
  flex-direction: column;
  gap: 0.13rem;
}

.top-line {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 1.3rem;
  border-top: 0.13rem solid #e2e2e2;
}
.heading {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(90, 90, 90);
}
.itemsCount {
  margin-right: 5rem;
}
.five {
  font-weight: 600;
  color: rgb(56, 55, 55);
}
.count p {
  font-size: 1.1rem;
  color: rgb(59, 59, 59);
}
/* blocks */
.block {
  display: flex;
  background: white;
  padding: 2rem;
  justify-content: space-between;
  /* border: 1px solid red; */
}
.block-1 {
  display: flex;
}
.text {
  gap: 1rem;
}
.itemName > div {
  font-size: 1.48rem;
  color: #36bca0;
  font-weight: 700;
}
.img {
  height: 6.7rem;
  padding: 0 3.5rem;
  background-color: rgb(240, 240, 240);
  opacity: 0.9;
}

.text {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

.itemName {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.description h4 {
  color: rgb(94, 94, 94);
  font-size: 1rem;
}
.description p {
  font-size: 0.85em;
}
.gift-sec {
  display: flex;
  align-self: flex-start;
  gap: 0.3rem;
  font-size: 1.15rem;
}
.logo-sec {
  display: flex;
}
.gift-sec > div {
  margin: 0 0.1rem;
}
i {
  opacity: 0.55;
  padding: 0.15rem;
}

/* price section  */

.price-sec {
  display: flex;
  gap: 2.1rem;
  justify-content: space-between;
}
.price-sec1 {
  display: flex;
  justify-content: space-evenly;
  gap: 0.9rem;
}

.price {
  font-weight: 450;
  text-align: right;
  align-self: flex-start;
  padding: 0.2rem;
}
.price s {
  font-size: 0.84rem;
  font-weight: normal;
}
.quantity {
  align-self: flex-start;
}
.quantity input {
  border: none;
  border: 0.04rem solid rgb(163, 161, 161);
}
.counter {
  width: 3.8rem;
  height: 2.8rem;
  font-size: large;
  display: flex;
  padding: 1.1rem;
}
.final-price {
  font-size: 1.16rem;
  font-weight: 500;
  padding: 0.5rem 0;
  color: rgb(51, 51, 51);
}

/* right section */

.right-view {
  align-self: flex-start;
  gap: 0.13rem;
  border-top: 0.13rem solid #e2e2e2;
}
.cart-title {
  background: white;
  padding: 1.3rem;
  font-size: 1.3rem;
  font-weight: bolder;
  color: rgb(90, 90, 90);
}
.cart {
  background: white;
  padding: 1.4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}
.total-price-sec {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.total {
  font-size: 1.1rem;
  color: gray;
}
.total-price {
  font-size: 1.87rem;
  font-weight: 600;
  color: rgb(82, 81, 81);
  border-bottom: 0.13rem solid #f0efef;
  padding-bottom: 2rem;
}
.bottom-cart {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.bottom-cart p {
  line-height: 1.7rem;
  color: gray;
  font-size: 0.97rem;
}
.buttons {
  display: flex;
}
button {
  border: none;
  font-size: 1rem;
}
.checkout button {
  padding: 0.5rem 0.7rem;
  background: #18b391;
  border-top-left-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
  color: white;
  font-size: 1.1rem;
}
.cancel button {
  padding: 0.45rem 0.8rem;
  background: rgb(255, 255, 255);
  color: rgb(77, 75, 75);
  border-top-right-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
  font-size: 1.1rem;
  border: 0.1rem solid rgb(231, 231, 231);
}
.checkout i {
  opacity: 1;
  margin-right: 0.1rem;
}

/* bottom .block */
.bottom-block {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1.4rem;
  margin-bottom: 1.3rem;
}
.buttontxt {
  color: rgb(97, 96, 96);
}
.shop button {
  border: none;
  background: white;
  border: 0.06rem solid rgb(192, 192, 192);
  border-radius: 0.2rem;
  padding: 0.5rem 0.7rem;
}

.bottom-button button {
  border-top-right-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
}
