* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  line-height: 1.3rem;
}
* p {
  color: rgb(97, 96, 96);
}
body {
  background: #f0efef;
}
.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.8rem;
}
.left-view {
  width: 71%;
}
.right-view {
  width: 21.55%;
}
.left-view,
.right-view {
  display: flex;
  flex-direction: column;
  gap: 0.13rem;
}

.top-line {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 1.3rem;
  border-top: 0.13rem solid #e2e2e2;
}
.heading {
  font-size: 1.25rem;
  font-weight: bolder;
  color: rgb(107, 107, 107);
}
.itemsCount {
  margin-right: 5rem;
}
.five {
  font-weight: bolder;
  color: rgb(56, 55, 55);
  font-size: 1.2rem;
}
.count {
  font-size: 1.16rem;
}
/* blocks */
.block {
  display: flex;
  background: white;
  padding: 1.7rem;
  gap: 1rem;
  justify-content: space-between;
  /* border: 1px solid red; */
}
.block-1 {
  display: flex;
}
.text {
  gap: 1rem;
}
.block h2 {
  font-size: 1.5rem;
  color: #36bca0;
  font-weight: bold;
}
.img {
  height: 7.3rem;
  padding: 0 3.7rem;
  background-color: rgb(240, 240, 240);
  opacity: 0.9;
}

.text {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.3rem;
}

.itemName {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.description h4 {
  color: rgb(71, 71, 71);
}
.gift-sec {
  display: flex;
  align-self: flex-start;
  gap: 0.3rem;
  font-size: 1.15rem;
}
.logo-sec {
  display: flex;
}
.gift-sec > div {
  margin: 0 0.1rem;
}
i {
  opacity: 0.55;
  margin-right: 0.3rem;
  margin-top: 0.1rem;
}
/* price section  */
.price-sec {
  display: flex;
  gap: 1.3rem;
}
.price {
  font-size: 1.11rem;
  text-align: right;
  align-self: flex-start;
  width: 7rem;
  padding: 0.3rem;
}
.price s {
  font-size: 0.88rem;
}
.quantity {
  align-self: flex-start;
}
.quantity input {
  border: none;
  border: 0.04rem solid rgb(163, 161, 161);
}
.counter {
  width: 4.1rem;
  height: 3rem;
  font-size: large;
  display: flex;
  padding: 1.1rem;
}
.final-price {
  font-size: 1.3rem;
  align-self: flex-start;
  margin: 0.6rem 0;
}

/* right section */

.right-view {
  align-self: flex-start;
  gap: 0.13rem;
  border-top: 0.13rem solid #e2e2e2;
}
.cart-title {
  background: white;
  padding: 1.3rem;
  font-size: 1.3rem;
  font-weight: bolder;
  color: rgb(107, 107, 107);
}
.cart {
  background: white;
  padding: 1.7rem 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}
.total-price-sec {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.total {
  font-size: 1.2rem;
  color: gray;
}
.total-price {
  font-size: 2.1rem;
  font-weight: 600;
  color: rgb(82, 81, 81);
  border-bottom: 0.13rem solid #f0efef;
  padding-bottom: 2rem;
}
.bottom-cart {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.bottom-cart p {
  line-height: 1.7rem;
  color: gray;
  font-size: 0.97rem;
}
.buttons {
  display: flex;
}
button {
  border: none;
  font-size: 1rem;
}
.checkout button {
  padding: 0.65rem 0.8rem;
  background: #18b391;
  border-top-left-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
  color: white;
  font-size: 1.1rem;
}
.cancel button {
  padding: 0.6rem 0.8rem;
  background: rgb(255, 255, 255);
  color: rgb(77, 75, 75);
  border-top-right-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
  font-size: 1.1rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.checkout i {
  opacity: 1;
}
